@font-face {
  font-weight: 400;
  font-family: "Raleway";
  src: url("./assets/fonts/Raleway-Regular.woff2");
}

:root {
  --black: #0d0d0d;
  --white: #fff;
  --grey: #767676;
  --pink: #f2a7ad;
  --purple: #9a11ee;
  --error: #e80e0e;
  --success: #19e307;
  --gradient: linear-gradient(#9a11ee, #f2a7ad);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
}

*:focus {
  outline: solid 1px var(--purple);
}

button {
  border: none;
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  outline: none;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  width: 100%;
  padding: 6px 35px;
  font-size: 24px;
  background-color: var(--white);
  color: var(--purple);
  border-image-source: var(--gradient);
  border-image-slice: 2;
  border-image-width: 2px;
}

.btn-mini {
  font-size: 16px;
}

.btn-icon {
  padding-left: 10px;
  padding-right: 10px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-icon img {
  width: 20px;
  height: 20px;
}

input {
  width: 100%;
  border: 1px solid var(--grey);
  padding: 10px;
  font-family: inherit;
}

input::placeholder {
  color: var(--grey);
}

textarea {
  width: 100%;
  height: 156px;
  padding: 10px;
  font-family: inherit;
  resize: none;
}

select {
  width: 100%;
  border: 1px solid var(--grey);
  padding: 10px;
  font-family: inherit;
}

.input-error {
  border: 1px solid var(--error);
  outline: none;
}

.error {
  position: absolute;
  top: -17px;
  font-size: 14px;
  color: var(--error);
}

.link {
  color: var(--white);
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.link:hover {
  color: var(--purple);
}

body {
  font-family: "Raleway";
  background-color: var(--white);
  color: var(--black);
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 90px;
  margin: 90px 0;
}

.p-v-30 {
  padding: 30px 0;
}

.flex-sb {
  display: flex;
  justify-content: space-between;
}

.flex-c {
  align-items: center;
}

.flex-jcc {
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

.flex-bl {
  align-items: baseline;
}

.flex-60 {
  display: flex;
  gap: 60px;
}

.flex-45 {
  display: flex;
  gap: 45px;
}

.flex-30 {
  display: flex;
  gap: 30px;
}

.flex-20 {
  display: flex;
  gap: 20px;
}

.flex-10 {
  display: flex;
  gap: 10px;
}

.flex-5 {
  display: flex;
  gap: 5px;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 20px;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 20px;
}

.grid-5-3 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 40px 20px;
}

.grid-5-3 > div:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 5;
}

.grid-5-3 > div:nth-child(2) {
  grid-column-start: 6;
  grid-column-end: 9;
}

.bg-black {
  background-color: var(--black);
}

.c-grey {
  color: var(--grey);
}

.c-black {
  color: var(--black);
}

.c-purple {
  color: var(--purple);
}

.c-white {
  color: var(--white);
}

.header {
  flex-wrap: wrap;
  gap: 20px;
}

.category {
  position: relative;
  height: 280px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: var(--gradient);
  color: var(--white);
  text-align: center;
  font-size: 28px;
  transition: background-image 0.3s ease-in-out;
}

.category:hover {
  background-image: linear-gradient(#9a11ee, #9a11ee);
}

.pagination {
  font-size: 20px;
  color: var(--grey);
  transition: color 0.3s ease-in-out;
}

.pagination:hover {
  color: var(--purple);
}

.menu-wrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 10;
}

.menu {
  background-color: var(--white);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 25%);
}

.search-wrapper {
  align-items: stretch;
  width: 75%;
}

@media (max-width: 1200px) {
  .container {
    padding: 0 40px;
  }

  .error {
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  .wrapper {
    margin: 70px 0;
    gap: 70px;
  }

  .grid-2--wrap {
    grid-template-columns: repeat(1, 1fr);
  }

  .benefits-img {
    flex-shrink: 0;
    width: 90px;
  }

  .grid-4 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-4--nwr {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-4-inputs {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-5-3 {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 80px;
  }

  .grid-5-3 > div:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .grid-5-3 > div:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .partners-name {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .grid-4 {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .grid-4-inputs {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-2--wr {
    grid-template-columns: repeat(1, 1fr);
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }

  .partners-name {
    font-size: 16px;
  }

  .category {
    font-size: 20px;
  }

  .search-wrapper {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 20px;
  }

  .wrapper {
    margin: 50px 0;
    gap: 50px;
  }

  .grid-2 {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .grid-2-nwr {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .grid-4-inputs {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .benefits {
    flex-direction: column;
  }

  .benefits-img {
    flex-shrink: 0;
    width: 60px;
  }

  .partners {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }

  .category {
    height: 140px;
  }

  .btns {
    flex-wrap: wrap;
    gap: 10px;
  }
}

@media (max-width: 460px) {
  .menu-wrapper {
    height: calc(100vh + 150px);
  }

  .btn {
    padding: 6px 20px;
  }
}
